<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/Shih-Ni Prim.jpg" width="200px" height="300px">
                </div>
                <div class="contact">
									Department of Statistics<br>
                  North Carolina State University<br>
                  <br>
		              email: <a href="mailto:sprim@ncsu.edu"><b>sprim@ncsu.edu</b></a> <br>
									
                </div>
              </div>
			  
              <b>Brief biography</b>
              <br>
	      I just completed my first year as a PhD student in the Department of Statistics at North Carolina State University (NC State). My advisor is <a
                href="https://bjreich.wordpress.ncsu.edu/" target="_blank"><b>Dr. Brian Reich</b></a> at NC State. 

              <br>
              <br>
              Link: <a href="assets/CV (Shih-Ni Prim_June 2022)	.pdf" target="_blank"><b>Curriculum Vitae</b></a> (Last Updated: June 2022)
              <br>
              <!-- <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-7985-0205"
                  href="https://orcid.org/0000-0002-7985-0205" target="orcid.widget" rel="noopener noreferrer"
                  style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
                    style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-7985-0205</a></div> -->

              <br>

              <b>Current research interests</b>
              <ul>
                <li> Bayesian Inference </li>
                <li> Spatial Statistics </li>
              </ul>

              <br>

            </div>
            <div class="sidebar">
            </div>
            {% include footer.html %}
          </div>
        </div>
    </body>
</html>
